<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
	
<mapper namespace="com.oracle.beipro.dao.RegionDao">
	<select id="getRegionList" resultType="com.oracle.beipro.region.entity.Region">
		select date,region,regioncount,sessionnumber,sessionjumpnumber,jumprate
			from pro_region;
	</select>
	
	<select id="getRegionListBypro" parameterType="String" resultType="com.oracle.beipro.region.entity.Region">
		select date,region,regioncount regionCount,sessionnumber sessionNumber,sessionjumpnumber sessionJumpnumber,jumprate jumpRate
			from pro_region where date=#{sdate};
	</select>
	
</mapper>
